body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  outline: 2px solid black;
  margin: auto;
}

img {
  display: block;
}

p {
  margin: 0;
}

textarea {
  resize: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.site-nav .link,
.header-adress .adress-link,
.nav-svg,
.social-link-team,
.client-link,
.footer-contact-adress,
.footer-contact,
.social-link,
.port-button {
  transition: color var(--timing-duration) var(--timing-function),
    fill var(--timing-duration) var(--timing-function),
    background-color var(--timing-duration) var(--timing-function),
    border-color var(--timing-duration) var(--timing-function);
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: Roboto, sans-serif;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
